.project-section {
  width: 100%;
  padding: 5rem;
  height: 100vh;
}

.project-items-container {
  width: 100%;
  max-width: 140rem;
  margin: 5rem auto;
}
.section-title {
  font-size: 5.2rem;
  margin: 0 0 5rem 7rem;
}

.projects-flex_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

@media (max-width: 28.125em) {
  .section-title {
    text-align: center;
    margin-left: 0;
  }
}
