*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #f9f6f0;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.header {
  background-color: #232b2b;
  height: 8vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5rem;
}

.nav {
  display: flex;
  gap: 2rem;
  align-items: center;
  max-width: 50rem;
}

.nav a {
  color: #fff;
  font-size: 1.6rem;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.nav a:hover {
  color: #999;
}

@media (max-width: 56.25em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 47.5em) {
  html {
    font-size: 58%;
  }
}
