.product-card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 30rem;
  border-radius: 8px;
  overflow: hidden;
  background-color: #ddd;
}

.product-img {
  object-fit: fill;
}

.info-container {
  padding: 1rem;
  position: relative;
}

.product-name {
  margin: 0 0 5px;
}

.product-price {
  margin: 0;
}

.delete-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  border-radius: 8px;
  padding: 0.5rem;
  transition: all 200ms ease-in-out;
}

.delete-btn:hover {
  background-color: #999;
}
